$yellow: rgb(255, 180, 0);
$lightYellow: rgba(255, 180, 0, 0.95);

$white: rgb(255, 255, 255);

$grayBackground: rgb(228, 230, 235);
$lightGrayBackground: rgb(240, 240, 246);

$paragraphFont: rgb(118, 118, 118);

$black: rgb(43, 43, 43);
$dark:rgb(24, 25, 26);
$darkView1:rgb(36, 37, 38);
$darkView2:rgb(58, 59, 60);

$available: rgb(126, 185, 66);
