@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("../../lib/fontawesome/all.min.css");
@import "../../style/base.scss";

.right-menu {
    width: 108px;
    height: 1315px;
   
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
    background: $white;
}